@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.logo-link {
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
}

.logo-link:hover {
  opacity: 0.8;
} 